@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body, html {
    height: 100%;
}

body{
    /* The image used */
    background-image: url("https://img.freepik.com/free-photo/retro-living-room-interior-design_53876-145503.jpg?w=740&t=st=1658736372~exp=1658736972~hmac=311c3078c75c077f05413965e0086087aa07936d8a53d305cd8db53f76a2d4f4");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav Bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-weight: bolder;
}

nav .list ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}


nav .list ul li{
    padding: 10px 20px;
    font-size: 1em;
    padding-top: 5%;
}

nav .logo img{
    width: 130px;
}

.logo img:hover{
    opacity: 0.5;
    cursor: pointer;
}

nav .list{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2%;
    border-bottom: 2px solid #fff;
}


.list .contact{
    display: flex;
    padding-top: 3%;
}

.contact div h2{
    font-size: 1em;
}

.contact div h3{
    font-size: .9em;
}
/* Main Section */

.main .content{
    color: #fff;
    font-size: 45px;
    width: 700px;
    margin: 10% 0% 0 10%;

}

.main .content button:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.main .content button{
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 30px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 25px;
    margin-top: 5%;
    font-weight: bolder;
}
/* Pop Up */
.main .popup1, .popup2{
    position: absolute;
    top: 37%;
    right:9%;
    color: #fff;
    width: 200px;
    background: rgb(48,69,86);
    padding: 20px;
}

.popup2{
    top: 70%;
    right: 28%;
}

.main .popup1 .Image img{
    padding: 2px 10px;
}

.Image{
    background-color: #fff;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 8%;
}


.line{
    width: 2px;
    height: 80px;
    background-color: #fff;
}

.circle{
    width:20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
}

.lines{
    position: absolute;
    top: 53%;
    right: 15%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.line1{
    width: 100px;
    height: 2px;
    background-color: #fff;
}

.circle1{
    width:20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
}

.lines1{
    position: absolute;
    top: 80%;
    right: 21%;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}